In [14]:
import pandas as pd

In [15]:
df = pd.read_csv(
    'data\groupStage2022.csv', header=0)
df = df.rename(columns={'Unnamed: 0': 'Place'})
df['Place'] = df['Place'] + 1

# Cleaning the team column of dataframe
all_teams = df['Team'].to_list()
new_teams = []
for team in all_teams:
    team = team[2:]
    if "(X)" in team:
        team = team[:-4]
    new_teams.append(team)
df['Team'] = new_teams

for i in range(len(df)):
    print((df['Team'].iloc[i]))

 Manchester City
 Paris Saint-Germain
 RB Leipzig
 Club Brugge
 Liverpool
 Atletico Madrid
 FC Porto
 AC Milan
 Ajax
 Sporting CP
 Borussia Dortmund
 Besiktas JK
 Real Madrid
 Inter Milan
 FC Sheriff Tiraspol
 Shakhtar Donetsk
 Bayern Munich
 Benfica
 FC Barcelona
 Dynamo Kiev
 Manchester United
 Villarreal
 Atalanta
 BSC Young Boys
 LOSC Lille
 RB Salzburg
 Sevilla
 VfL Wolfsburg
 Juventus
 Chelsea
 FC Zenit
 Malmo FF

In [16]:
ks_df = pd.read_csv('data/knockoutStage2022.csv')
ks_df

                Tm1                 Tm2   Gm1Tm1   Gm1Tm2   Gm2Tm1   Gm2Tm2
0           Benfica                Ajax        2        2      1.0      0.0
1       Inter Milan           Liverpool        0        2      1.0      0.0
2        Villarreal            Juventus        1        1      3.0      0.0
3          Salzburg       Bayern Munich        1        1      1.0      7.0
4       Sporting CP     Manchester City        0        5      0.0      0.0
5   Atletico Madrid   Manchester United        1        1      1.0      0.0
6           Chelesa               Lille        2        0      2.0      1.0
7               PSG         Real Madrid        1        0      1.0      3.0
8           Benfica           Liverpool        1        3      3.0      3.0
9        Villarreal       Bayern Munich        1        0      1.0      1.0
10  Manchester City     Atletico Madrid        1        0      0.0      0.0
11          Chelsea         Real madrid        1        3      3.0      2.0
12        Liverpool          Villarreal        2        0      3.0      2.0
13  Manchester City         Real Madrid        4        3      1.0      3.0
14        Liverpool         Real Madrid        0        1      NaN      NaN

In [22]:
ks_df = pd.read_csv('data/knockoutStage2022.csv')
ks_df['total_Tm1'] = pd.to_numeric(ks_df[' Gm1Tm1'] + ks_df[' Gm2Tm1'])
ks_df['total_Tm2'] = pd.to_numeric(ks_df[' Gm1Tm2'] + ks_df[' Gm2Tm2'])
print(type(int(ks_df.iloc[11]['total_Tm2'])))
ks_df

<class 'int'>

,Tm1,Tm2,Gm1Tm1,Gm1Tm2,Gm2Tm1,Gm2Tm2,total_Tm1,total_Tm2
0,Benfica,Ajax,2,2,1.0,0.0,3.0,2.0
1,Inter Milan,Liverpool,0,2,1.0,0.0,1.0,2.0
2,Villarreal,Juventus,1,1,3.0,0.0,4.0,1.0
3,Salzburg,Bayern Munich,1,1,1.0,7.0,2.0,8.0
4,Sporting CP,Manchester City,0,5,0.0,0.0,0.0,5.0
5,Atletico Madrid,Manchester United,1,1,1.0,0.0,2.0,1.0
6,Chelesa,Lille,2,0,2.0,1.0,4.0,1.0
7,PSG,Real Madrid,1,0,1.0,3.0,2.0,3.0
8,Benfica,Liverpool,1,3,3.0,3.0,4.0,6.0
9,Villarreal,Bayern Munich,1,0,1.0,1.0,2.0,1.0
10,Manchester City,Atletico Madrid,1,0,0.0,0.0,1.0,0.0
11,Chelsea,Real madrid,1,3,3.0,2.0,4.0,5.0
12,Liverpool,Villarreal,2,0,3.0,2.0,5.0,2.0
13,Manchester City,Real Madrid,4,3,1.0,3.0,5.0,6.0
14,Liverpool,Real Madrid,0,1,NaN,NaN,NaN,NaN